# Ex - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [4]:
drinks=pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

### Step 4. Which continent drinks more beer on average?

In [7]:
drinks.groupby('continent')['beer_servings'].mean().max()

193.77777777777777

### Step 5. For each continent print the statistics for wine consumption.

In [10]:
drinks.groupby('continent')['wine_servings'].describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

### Step 6. Print the mean alcohol consumption per continent for every column

In [14]:
# Get the unique continents in the dataset
continents = drinks['continent'].unique()

# Iterate over each column and calculate the mean alcohol consumption per continent
for column in drinks.columns[1:]:  # Exclude the 'continent' column
    print("Mean alcohol consumption per continent for", column)
    for continent in continents:
        mean_consumption = drinks[drinks['continent'] == continent][column].mean()
        print(continent, ": ", mean_consumption)
    print()

Mean alcohol consumption per continent for beer_servings
AS :  37.04545454545455
EU :  193.77777777777777
AF :  61.471698113207545
nan :  nan
SA :  175.08333333333334
OC :  89.6875

Mean alcohol consumption per continent for spirit_servings
AS :  60.84090909090909
EU :  132.55555555555554
AF :  16.339622641509433
nan :  nan
SA :  114.75
OC :  58.4375

Mean alcohol consumption per continent for wine_servings
AS :  9.068181818181818
EU :  142.22222222222223
AF :  16.264150943396228
nan :  nan
SA :  62.416666666666664
OC :  35.625

Mean alcohol consumption per continent for total_litres_of_pure_alcohol
AS :  2.170454545454545
EU :  8.617777777777775
AF :  3.0075471698113208
nan :  nan
SA :  6.308333333333334
OC :  3.3812499999999996

Mean alcohol consumption per continent for continent

TypeError: Could not convert ASASASASASASASASASASASASASASASASASASASASASASASASASASASASASASASASASASASASASASASASASASASAS to numeric

### Step 7. Print the median alcohol consumption per continent for every column

In [18]:
# Get the unique continents in the dataset
continents = drinks['continent'].unique()

# Iterate over each column and calculate the mean alcohol consumption per continent
for column in drinks.columns[1:]:  # Exclude the 'continent' column
    print("Median alcohol consumption per continent for", column)
    for continent in continents:
        median_consumption = drinks[drinks['continent'] == continent][column].median()
        print(continent, ": ", median_consumption)
    print()

Median alcohol consumption per continent for beer_servings
AS :  17.5
EU :  219.0
AF :  32.0
nan :  nan
SA :  162.5
OC :  52.5

Median alcohol consumption per continent for spirit_servings
AS :  16.0
EU :  122.0
AF :  3.0
nan :  nan
SA :  108.5
OC :  37.0

Median alcohol consumption per continent for wine_servings
AS :  1.0
EU :  128.0
AF :  2.0
nan :  nan
SA :  12.0
OC :  8.5

Median alcohol consumption per continent for total_litres_of_pure_alcohol
AS :  1.2
EU :  10.0
AF :  2.3
nan :  nan
SA :  6.85
OC :  1.75

Median alcohol consumption per continent for continent

TypeError: could not convert string to float: 'AS'

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [21]:
print(f"the max of spirit consumption is = {drinks['spirit_servings'].max()}")
print(f"the min of spirit consumption is = {drinks['spirit_servings'].min()}")
print(f"the mean of spirit consumption is = {drinks['spirit_servings'].mean()}")

the max of spirit consumption is = 438
the min of spirit consumption is = 0
the mean of spirit consumption is = 80.99481865284974

In [23]:
drinks.groupby('continent')['spirit_servings'].agg(['mean','min','max'])

                 mean  min  max
continent
AF          16.339623    0  152
AS          60.840909    0  326
EU         132.555556    0  373
OC          58.437500    0  254
SA         114.750000   25  302